<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDonors()" [disabled]="!selectedDonors || !selectedDonors.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="donors$" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'email']"
        responsiveLayout="scroll"
        [(selection)]="selectedDonors" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Donors</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="globalFilter" (input)="dt.filterGlobal(globalFilter, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th>Phone</th>
                <th pSortableColumn="donor">Donor Type <p-sortIcon field="donor"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donor>
            <tr>
                <td>
                    <p-tableCheckbox [value]="donor"></p-tableCheckbox>
                </td>
                <td>{{ donor.name }}</td>
                <td>{{ donor.email }}</td>
                <td>{{ donor.phone }}</td>
                <td>{{ donor.donor }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDonor(donor)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteDonor(donor)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ donors$ ? donors$.length : 0 }} donors.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="donorDialog" [style]="{width: '450px'}" header="Donor Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="donor.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !donor.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [(ngModel)]="donor.email" />
        </div>
        <div class="field">
            <label for="phone">Phone</label>
            <input type="text" pInputText id="phone" [(ngModel)]="donor.phone" />
        </div>
        <div class="field">
            <label for="donor">Donor Type</label>
            <input type="text" pInputText id="donor" [(ngModel)]="donor.donor" />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDonor()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
