<main class="main">
  <div class="content">
    <div class="left-side">
      <header>
        <nav>
          <ul>
            <li><a routerLink="/gift-manage" routerLinkActive="active">Gift Management</a></li>
            <li><a routerLink="/donor-manage" routerLinkActive="active">Donor Management</a></li>   
            <li><a routerLink="/register" routerLinkActive="active"> Register</a></li>          
          </ul>
        </nav>        
        <router-outlet></router-outlet>
      </header>
    </div>
  </div>
</main>
